<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Orders</title>
</head>
<body>
    <h1>List of Orders: </h1>
    <table>
        <thead>
            <tr>
                <th>#ID</th>
                <th>Total Amount</th>
                <th>User_ID</th>
            </tr>
        </thead>
        <tbody>
            <% if(arr.length!=0) { %>
   
                <% arr.forEach((curr) => { %>
                    <tr>
                        <td><%= curr.orderid %></td>
                        <td>€ <%= curr.total_amount %></td>
                        <td><%= curr.userid %></td>
                    </tr>
                <% }) %>
                
            <% } else{ %>

                <tr>
                    <td> * </td>
                    <td>No Orders Found!</td>
                    <td> * </td>
                </tr>

            <% } %>           
        </tbody>
    </table>
</body>
</html>