<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <form action="/edit-user" method="POST">
        <input type="number" name="id" value="<%= user.id %>" readonly>
        <input type="text" name="fname" value="<%= user.fname %>">
        <input type="text" name="lname" value="<%= user.lname %>">
        <button type="submit">Edit User</button>
    </form>
</body>
</html>