<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>USER MANAGEMENT SYSTEM</h1>
    <form action="/add-user" method="POST">
        <input type="number" name="id" placeholder="ID">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <button type="submit">Add User</button>
    </form>

    <br>
    <br>
    <a href = '/users'>View Users</a>

    <form action='/edit/:id' method="POST">
        <br>
        <br>
        <input type="number" name="editId" placeholder="Enter ID to edit"> 
        <button type="submit">Edit User</button> 
    </form>

    <form action='/delete/:id' method="POST">
        <br>
        <br>
        <input type="number" name="deleteId" placeholder="Enter ID to delete"> 
        <button type="submit">Delete User</button> 
    </form>
</body>
</html>